.employee-list {
    margin: 10px; 
    padding: 5px; 
}

.employee-list p {
    font-size: large; 
    font-weight: bold;
    display: inline-block; 
    text-decoration: underline; 
}

.employee-list span {
    font-size: small; 
    margin-left: 6px; 
}

.employee-button {
    border: none; 
    background: none; 
    cursor: pointer;
    outline: none; 
}

.employee-list-link-profile {
    text-decoration: none;
    color: #2c5d95;
}